* {
box-sizing: border-box;
}
    body {
            font-family: Tahoma, sans-serif;
            color: #333;
        }
    .section {
        padding: 30px 10%;
        }
    .header {
    margin-top: 80px;
        text-align: center;
        font-size: 24px;
        line-height: 1.5;
        }
    .header span{
        display: block;
        font-weight: 300;
    }
    .header strong{
        font-weight: 900;
        text-transform: uppercase;
    }
    .main{
        margin-top: 90px;
    }
    .picture, .donateForm {
        display: inline-block;
        border: 2px solid red;
        vertical-align: top;
    }

}